.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

h2 {
  display: flex;
  align-items: left;
  color: #315047;
  font-family: Cormorant;
}

html {
  background: linear-gradient(to left, #BBD4CD 50%, #FCFCFC 50%);
}

p {
  font-family: Cormorant !important; 
  font-size: 17px !important;
}

.fontTitle {
  font-family: Cormorant !important; 
  font-size: 20px !important;
  font-weight: bold !important;
  color: #315047;
}

.css-19kzrtu {
  padding: 0 !important;
}

.css-46bh2p-MuiCardContent-root {
  padding: 1.5% !important;
}

.inputBtn {
  height: 35px;
  padding: 0px 20px;
  margin-top: 10px;
  margin-left: 10px;;
  font-family: Cormorant;
  font-size: 18px;
  background-color: #BBD4CD;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.inputBtn:hover {
  background-color: #7e9790;
}

.message {
  padding: 2%;
  transition: background-color 0.5s ease;
  border: 1px solid #f2f2f2;
  width: 100%;
  background-color: #eefaf5;
}

.breakText {
  text-align: justify;
  word-break: break-all;
}

.keepText {
  text-align: justify;
  word-break: keep-all;
}

/* Scale message functionality buttons according to the screen/browser size */

@media screen and (max-width: 400px) {
  .deleteBtn {
    width: 17px;
    height: 17px;
    margin-left: 10%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 17px;
    height: 17px;
    margin-left: 10%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 17px;
    height: 17px;
    margin-left: 2%;
    cursor: pointer;
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  .deleteBtn {
    width: 20px;
    height: 20px;
    margin-left: 8%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 20px;
    height: 20px;
    margin-left: 6%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 20px;
    height: 20px;
    margin-left: 2%;
    cursor: pointer;
  }
}

@media screen and (min-width: 900px)  {
  .deleteBtn {
    width: 20px;
    height: 20px;
    margin-left: 8%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 20px;
    height: 20px;
    margin-left: 6%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 20px;
    height: 20px;
    margin-left: 2%;
    cursor: pointer;
  }
  
}

/* Scale kitty pictures according to the screen/browser width */

@media screen and (max-width: 901px) {
  .imgCleo {
    margin-top: 20%;
    margin-left: 15%;
    width: 100%;
    height: 100%;
  }

  .imgHarmi {
    margin-top: 20%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1198px) {
  .imgCleo {
    width: 35%;
    height: 48%;
    float: left;
    display: flex;
    position: fixed;
    top: 15%;
    right: 15%;
    z-index: 1;
  }

  .imgHarmi {
    width: 35%;
    height: 48%;
    display: flex;
    position: fixed;
    right: 2%;
    bottom: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .imgCleo {
    width: 30%;
    height: 58%;
    float: left;
    display: flex;
    position: fixed;
    top: 3%;
    z-index: 1;
  }

  .imgHarmi {
    width: 30%;
    height: 58%;
    display: flex;
    position: fixed;
    right: 2%;
    bottom: 5%;
  }
}
