.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

h2 {
  display: flex;
  align-items: left;
  color: #315047;
  font-family: Cormorant;
}

html {
  background: linear-gradient(to left, #BBD4CD 50%, #FCFCFC 50%);
}

.font {
  font-family: Cormorant !important; 
  font-size: 17px !important;
}

.fontTitle {
  font-family: Cormorant !important; 
  font-size: 20px !important;
  font-weight: bold !important;
  color: #315047;
}

.css-19kzrtu {
  padding: 0 !important;
}

.css-46bh2p-MuiCardContent-root {
  padding: 1.5% !important;
}

.inputBtn {
  height: 35px;
  padding: 0px 20px;
  font-family: Cormorant;
  font-size: 18px;
  margin: 0 0 0 10px;
  background-color: #BBD4CD;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.inputBtn:hover {
  background-color: #7e9790;
}

.message {
  padding: 2%;
  transition: background-color 0.5s ease;
  border: 1px solid #f2f2f2;
  width: 100%;
  background-color: #eefaf5;
}

.breakText {
  text-align: justify;
  word-break: break-all;
}

.keepText {
  text-align: justify;
  word-break: keep-all;
}


@media screen and (max-width: 400px) {
  .deleteBtn {
    width: 17px;
    height: 17px;
    margin-left: 10%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 17px;
    height: 17px;
    margin-left: 10%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 17px;
    height: 17px;
    margin-left: 2%;
    cursor: pointer;
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  .deleteBtn {
    width: 20px;
    height: 20px;
    margin-left: 8%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 20px;
    height: 20px;
    margin-left: 6%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 20px;
    height: 20px;
    margin-left: 2%;
    cursor: pointer;
  }
}

@media screen and (min-width: 900px)  {
  .deleteBtn {
    width: 20px;
    height: 20px;
    margin-left: 8%;
    cursor: pointer;
  }
  
  .editBtn {
    width: 20px;
    height: 20px;
    margin-left: 6%;
    cursor: pointer;
  }
  
  .doneBtn {
    width: 20px;
    height: 20px;
    margin-left: 2%;
    cursor: pointer;
  }
}
